html, body{
    margin:0;
    padding: 0;
}


#header{
    display: flex;
    justify-content: right;
    background-color: white;
    border-bottom: solid 1px steelblue;
    z-index: 99;
}

.navigation{
    display: flex;
    justify-content: right;
    align-content: center;
    width: 25%;
}

.nav_link{
    margin: 34px;
    background-color: #719ECE;
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
}


#logo{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

#logo_img{
    height: 100px;
}

#airplan{
    color: steelblue;
    font-size: 18pt;
    font-weight: bold;
}

.lock {
    position: fixed;
    top: 0;
    width: 100%
}

/* css for the footer too */

footer{
    display: flex;
    justify-content: center;
}

.footer_p{
    margin: 30px;
}

#footer_name{
    text-align: right;
}